<div id="nav">
    <div class="j-flex j-flex-center nav-box">
        <div class="flex text-center" id="nav-index"  onclick="location.href='./'">
            <div><span class="iconfont iconweibiaoti- font-22"></span></div>
            <div>首页</div>
        </div>
        <div class="flex text-center" id="nav-message" onclick="location.href='?ctl=volunteer&act=exchange'">
            <div><span class="iconfont iconfuli font-22" ></span></div>
            <div>福利兑换</div>
        </div>
        <div class="sign-box" id="nav-sign" onclick="location.href='?ctl=volunteer&act=sign'">
            <div class="sign-box-1">
                <div class="text-center font-16 sign-box-2">签到</div>
            </div>
        </div>
        <div class="flex text-center" id="nav-show" onclick="location.href='?ctl=volunteer&act=show'">
            <div><span class="iconfont icontv font-22"></span></div>
            <div>志愿秀</div>
        </div>
        <div class="flex text-center" id="nav-mine" onclick="location.href='?ctl=my&act=mine'">
            <div><span class="iconfont iconwode3 font-22"></span></div>
            <div>我的</div>
        </div>
    </div>
</div>