{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/tip.css">
    <title>消息中心</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>消息中心</h1>
    </header>
    <section>
        <div class="item">
            <name>
                <i></i>
                <img src="__IMG__/my/head.png">
                <span>
                    <span class="text">小凡</span>
                    <em>2019年4月16号<span>13:26</span></em>
                </span>
            </name>
            <name>
                <i></i>
                <img src="__IMG__/my/head.png">
                <span>
                    <span class="text">你中了500万</span>
                    <em>2019年4月16号<span>13:26</span></em>
                </span>
            </name>
            <name>
                <i></i>
                <img src="__IMG__/my/head.png">
                <span>
                    <span class="text">小凡</span>
                    <em>2019年4月16号<span>13:26</span></em>
                </span>
            </name>
        </div>
    </section>
</body>
</html>