header{width: 100%;height: 60px;background: url(../image/index/top.jpg) no-repeat; background-size: 100% 100%;}
.search{padding: 18px 50px 18px 20px;}
.searchInput{position: relative;height: 24px;padding: 0 10px 0 30px;border-radius: 10px;background-color: #fff;}
.searchInput input::-webkit-input-placeholder{ color: #ccc; font-size: 12px;}
.searchInput input{ border-style: none; display: block; width: 100%; height: 22px; line-height: 12px; font-size: 12px; color: #626262;}
.searchInput:before{content: "";display: block;height: 22px;width: 22px;position: absolute;left: 3px;top: 0;background: url(../image/index/sousuo.png) no-repeat center;background-size: 15px auto; }
.searchInput img{width: 20px;height: 25px;position: absolute;right:-25px;top: 0px;}
.searchInput b{width: 10px;height: 10px;border-radius: 10px; background-color: #fdbe5f;font-size: 10px;color: #f0f0f0;position: absolute;right:-28px;top: -3px;text-align: center;line-height: 10px;}

/*轮播图*/
.swiper-container {width: 100%; height:auto;position:relative;}
.swiper-wrapper,.swiper-slide{height: auto;}
.swiper-slide{ text-align:center}
.swiper-slide img{ width:100%; max-width:1000px }
.swiper-pagination-bullet{background-color: #fff;opacity:.4;}
.swiper-container .swiper-pagination-bullet-active{ background:#fff !important;opacity:1;}
/*end-轮播图*/

.headlines{height: 22px;background-color: #fff;padding: 3px 10px 3px 110px;color: #666;position: relative;font-size: 12px;}
.headlines img{width: 65px;height:16px;position: absolute;left: 10px; top: 6px;}
.headlines i{font-style: normal;width: 22px;height: 12px;border:1px #fdbe5f solid; position: absolute;left: 78px; top: 6px; text-align: center;color:#fdbe5f;line-height: 14px;border-radius: 2px;font-size: 10px;}
.headlines a{line-height: 22px;display: block;color: #393939;}

.swiper-container1 p{font-size: 10px;text-align: justify;color: #000;height: 18px;line-height: 18px;}
.swiper-container1 p.bottom{color: #616161;height: 14px;}
.swiper-container1 p.bottom span:nth-child(2){float:right;padding-left: 12px;position: relative;}
.swiper-container1 p.bottom span:nth-child(2):before{content: "";display: block;height: 14px;width: 12px;position: absolute;left: 0;top:0;background: url(../image/index/yanjing.png) no-repeat center;background-size: 10px auto; }
.swiper-container1 p.bottom span:nth-child(2):after{content: "人";}
.swiper-container1 .swiper-slide{box-shadow: 1px 2px 3px #ccc;}
.review{background-color: #fff;margin-top: 10px;padding: 10px 0 0 10px;}


.title{color: #000;font-size:16px;font-weight: 600;padding-bottom: 5px;padding-left: 8px; position: relative;}
.title b{width:4px;height: 18px;background-color: #e0431b;position: absolute;left: 0; bottom:7px;}

.item{background-color: #fff;padding-top:10px;margin-top: 10px;margin-bottom: 60px;}
.item .title{margin-left: 10px;}
.item ul li{border-bottom: #f1f1f1 1px solid;padding: 0 10px;}
.item ul li:nth-child(1) .images{padding-top:0;}
.titleLeft{position: absolute;left: 0;top: 0;text-align: justify;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; height: 36px;overflow: hidden;font-size: 14px;color: #000;font-weight: 600;line-height: 18px;}



/*图片网格2*/
.images{overflow: hidden;width: 100%;padding: 10px 0;position: relative;}
.images .infoTwo{position: relative;float: left;padding: 0;margin: 0;border-style: solid;border-color: transparent;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.images .infoTwo:nth-child(1){width: 60%;padding-top:22.5%;font-style: 12px;}
.images .infoTwo:nth-child(2){width: 40%;padding-left: 10px}
.info{display: block;-webkit-margin-before: 0em;-webkit-margin-after: 0em;-webkit-margin-start: 40px;-webkit-margin-end: 40px;}
.images .infoTwo .img{width: 100%;padding-top: 60%;position: relative;display: block;background-size: cover;background-position: 50% 50%;background-color: #eee;}
.images .from{position: absolute;bottom: 0;width: 100%;height: 16px;color: #828181;}
.images .from span:nth-of-type(1){font-size: 12px;}
.images .from span:nth-of-type(2){font-size: 12px;display: block;width: 56px;height: 14px;line-height: 14px; text-align: center; border-radius: 8px;border:1px #e0431b solid;color:#e0431b;position: absolute;right: 0;top: 0; }

ul.m_nav{width: 100%;height: 140px;background-color: #fff;position: fixed;left:0; bottom:-140px; z-index:600;}
ul.m_nav li{width: 33.33%;float: left;display: block;}
ul.m_nav li .img{width: 100%;height:100px}
ul.m_nav li:nth-child(1) .img{background: url(../image/index/m_nav1.png) center no-repeat;background-size:auto 75px;}
ul.m_nav li:nth-child(2) .img{background: url(../image/index/m_nav2.png) center no-repeat;background-size:auto 75px;}
ul.m_nav li:nth-child(3) .img{background: url(../image/index/m_nav3.png) center no-repeat;background-size:auto 75px;}
ul.m_nav p{width: 30px;height: 30px;position: absolute;left: 50%;bottom: 10px;margin-left: -15px; background: url(../image/index/close.png) center no-repeat;background-size:auto 18px;}
#cover{width: 100%;height: 100%;position:fixed;left:0;top:0;background-color:rgba(0,0,0,0.7);z-index: 510;}

/*底部导航*/
footer{height: 42px;padding-top:8px;width: 100%;min-width:320px; background: #fff; position:fixed; left:0; bottom:0; z-index:500}
footer a{ display: block; width: 20%; float: left;position: relative;}
footer a i{ display: block; width: 28px; height: 34px; margin: 0 auto;}
footer a:first-child i{background: url(../image/index/foot_1.png) center no-repeat;background-size: 28px auto;}
footer a:nth-child(2) i{background: url(../image/index/foot_2.png) center no-repeat;background-size: 28px auto;}
footer a:nth-child(4) i{background: url(../image/index/foot_3.png) center no-repeat;background-size: 28px auto;}
footer a:last-child i{background: url(../image/index/foot_4.png) center no-repeat;background-size: 28px auto;}
footer a.midle{margin-top:-30px; }
footer a.midle i{width: 60px; height:60px; background: url(../image/index/dang.png) center no-repeat;background-size: 60px auto;}

footer a:first-child.cur i{background: url(../image/index/foot_1_c.png) center no-repeat;background-size: 28px auto;}
footer a:nth-child(2).cur i{background: url(../image/index/foot_2_c.png) center no-repeat;background-size: 28px auto;}
footer a:nth-child(4).cur i{background: url(../image/index/foot_3_c.png) center no-repeat;background-size: 28px auto;}
footer a:last-child.cur i{background: url(../image/index/foot_4_c.png) center no-repeat;background-size: 28px auto;}
/*end-底部导航*/