.bg{background: url(../images/bg.jpg) no-repeat center;background-size:cover;position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -100;}
/*header*/
header{width:100%; min-width:320px;height:49px;z-index:500;}
header h1{text-align:center;font-size:17px;height:49px;line-height:49px;color:#fff;}
header a{position:absolute;left:0;top:0;display:block;height:49px;line-height:49px;padding-left:15px;font-size:15px;color:#fff}
header a i{display:inline-block;margin-left:5px;vertical-align:1px;width:10px;height:10px;border:2px solid #fff;border-top:0;border-right:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg)}
/*end-header*/
.index{text-align: center;color: #fff;padding-bottom: 20px;}
.index h1{font-size: 40px;}
.index a{display: inline-block;width: 80px;height: 25px;line-height: 25px;border-radius: 15px;padding-right: 10px; background-color: rgb(255,255,255,0.3);margin-top: 10px;position: relative;color: #fff;}
.index a::after{content: ""; width:6px;height:6px;border:2px solid #fff;border-top:0;border-right:0;transform:rotate(230deg);-webkit-transform:rotate(230deg);-moz-transform:rotate(230deg);position: absolute;right: 10px;top: 8px;}
.item{background-color: #fff;border-radius: 10px 10px 0 0;padding: 20px;color: #000;}
.item h1{font-size: 16px;font-weight: 600;}
.item li{padding-top: 20px;height:36px;line-height: 18px;position: relative;}
.item li p:nth-of-type(2){font-size: 12px;color: #a5a5a5;}
.item li i{position: absolute;right: 20px;top: 28px;font-style: normal;}