{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/active.css">
    <title>发起活动</title>
</head>
<body>
    <header>
        <h1>发起活动</h1>
        <a class="right"></a>
    </header>
    <section>
        <div class="item">
            <a href="conferenceType"><p>会议类型<br/><span>不同会议记录表</span></p></a>
            <a href="volunteer?type=1"><p>志愿服务<br/><span>不同会议记录表</span></p></a>
            <a href="volunteer?type=2"><p>红色细胞<br/><span>扫码签到模式</span></p></a>
            <a href="volunteer?type=3"><p>微心愿<br/><span>认领微心愿活动</span></p></a>
        </div>
    </section>
</body>
{include file="layouts/__footer" /}
</html>