<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/activeList.css">
    <title>活动管理</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>活动管理</h1>
    </header>
    <section>
        <ul class="nav">
            <li class="cur"><a>全 部</a></li>
            <li><a>待审核</a></li>
            <li><a>进行中</a></li>
            <li><a>已完成</a></li>
            <li><a>无 效</a></li>
        </ul>
        <ul class="items clearfix list">
            <li>
                <a href="article.html">
                    <div class="infoOne"><span class="img lazy" data-original="images/index/img_1.jpg"></span></div>
                    <div class="text">
                        <p>中国共产党是中国工人阶级的先锋队，同时是中国人民和中华民族的先锋队，是中国特色社会主义事业的领导核心</p>
                        <p>开始时间：2019年4月17日</p>
                        <p>结束时间：2019年4月30日</p>
                        <p>志愿服务</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="article.html">
                    <div class="infoOne"><span class="img lazy" data-original="images/index/img_2.jpg"></span></div>
                    <div class="text">
                        <p>中国共产党是中国工人阶级的先锋队，同时是中国人民和中华民族的先锋队，是中国特色社会主义事业的领导核心</p>
                        <p>开始时间：2019年4月17日</p>
                        <p>结束时间：2019年4月30日</p>
                        <p>红色细胞</p>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="infoOne"><span class="img lazy" data-original="images/index/img_3.jpg"></span></div>
                    <div class="text">
                        <p>中国共产党是中国工人阶级的先锋队，同时是中国人民和中华民族的先锋队，是中国特色社会主义事业的领导核心</p>
                        <p>开始时间：2019年4月17日</p>
                        <p>结束时间：2019年4月30日</p>
                        <p>志愿服务</p>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="infoOne"><span class="img lazy" data-original="images/index/img_4.jpg"></span></div>
                    <div class="text">
                        <p>中国共产党</p>
                        <p>开始时间：2019年4月17日</p>
                        <p>结束时间：2019年4月30日</p>
                        <p>红色细胞</p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="list" style="display: none;"></div>
        <div class="list" style="display: none;">3</div>
        <div class="list" style="display: none;">4</div>
        <div class="list" style="display: none;">5</div>
        <div class="null" style="display: none;"><img src="images/null.png"></div>
    </section>
</body>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/lazyload/jquery.lazyload.js"></script>
<script>
//图片懒加载
    $(".lazy").lazyload({
        placeholder : "",
        effect: "fadeIn",
        threshold : 200
    }).removeClass('lazy').addClass('lazyloaded');

    $(".nav li").click(function(){
        var e=$(this).index();
        $(".nav li").eq(e).addClass("cur").siblings().removeClass("cur");
        $(".list").eq(e).show().siblings(".list").hide();
        var h=$(".list").eq(e).html();
        if(h==""){
            $(".null").show()
        }else{
            $(".null").hide()
        }
    });
</script>
</html>