{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/get.css">
    <title>采集提报</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>采集提报</h1>
    </header>
    <section>
        <ul class="list">
            <li>
                <h1>获取时间</h1>
                <input type="text" placeholder="请输入获取时间">
            </li>
            <li>
                <h1>奖项名称</h1>
                <input type="text" placeholder="请输入具体的奖项名称">
            </li>
        </ul>
        <ul class="upload ellipsis">
            <h1>资料上传</h1>
            <li class="file"><input type="file"></li>
            <!-- <li class="img"><img src="images/1.jpg"></li> -->
            <li class="add_img"><input type="file"></li>
        </ul>
        <a class="btn">确认上传</a>
    </section>
</body>
</html>