{include file="layouts/__header" /}
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<title>党群</title>
</head>
<body>

<header>
    <div class="search">
        <div class="searchInput">
            <input type="text" placeholder="搜索当月最热活动"/>
            <a href="tip">
                <img src="__IMG__/index/xiaoxi.png">
                <b>3</b>
            </a>
        </div>
    </div>
</header>
<section>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="slide" id="vo"}
            <div class="swiper-slide" data-url="{$vo.url}"><img src="__PUBLIC__/{$vo.img}"></div>
            {/volist}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="headlines">
        <img src="__IMG__/index/toutiao.png">
        <i>最新</i>
        <a href="headlines" class="ellipsis">温州，一座有温度的城市，应该是现代化，但也不乏人情味的。这是瓯海区构建“城市15分钟党群服务圈”的最初心和落脚点。</a>
    </div>

    <div class="review">
        <div class="title"><b></b>精选活动</div>
        <div style="overflow: hidden;padding-bottom: 10px;">
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    <a class="swiper-slide" href="{:Url('/index/news/showInfo',['id'=>'id'])}">
                        <img src="__IMG__/index/img_2.jpg">
                        <p class="ellipsis">同志们辛苦了，为人民服务</p>
                        <p class="bottom"><span>2017年4月22日</span><span>1000</span></p>
                    </a>
                    <a class="swiper-slide" href="{:Url('/index/news/showInfo')}">
                        <img src="__IMG__/index/img_2.jpg">
                        <p class="ellipsis">同志们辛苦了，为人民服务</p>
                        <p class="bottom"><span>2017年4月22日</span><span>1000</span></p>
                    </a>
                    <a class="swiper-slide" href="article">
                        <img src="__IMG__/index/img_2.jpg">
                        <p class="ellipsis">同志们辛苦了，为人民服务</p>
                        <p class="bottom"><span>2017年4月22日</span><span>1000</span></p>
                    </a>
                    <a class="swiper-slide" href="article">
                        <img src="__IMG__/index/img_2.jpg">
                        <p class="ellipsis">同志们辛苦了，为人民服务</p>
                        <p class="bottom"><span>2017年4月22日</span><span>1000</span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="title"><b></b>最新活动</div>
        <ul>
            {volist name="activity" id="vo"}
            <li>
                <a href="{:Url('/index/activitys/show',['id'=>$vo.id])}">
                    <div class="images">
                        <div class="infoTwo">
                            <p class="titleLeft">{$vo.title}</p>
                            <div class="from">
                                <span>{$vo.create_time}(转日期)</span>
                                <span>立即参与</span>
                            </div>
                        </div>
                        <div class="infoTwo"><span class="img lazy" data-original="__PUBLIC__/{$vo.img}"></span>
                        </div>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>

    </div>
</section>
</body>
{include file="layouts/__footer" /}
<script>
    var Swiper1 = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,
        loop: true
    });
    var swiper = new Swiper('.swiper-container1', {
        slidesPerView: 2.4,
        spaceBetween: 5,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
</html>