<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/myConcern.css">
    <title>我的关注</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>我的关注</h1>
    </header>
    <section>
        <div class="item">
            <a>
                <i></i>
                <img src="images/my/head.png">
                <span>
                    <span class="text">小凡</span>
                </span>
                <div class="cancel">取消关注</div>
            </a>
            <a>
                <i></i>
                <img src="images/my/head.png">
                <span>
                    <span class="text">小凡</span>
                </span>
                <div class="cancel">取消关注</div>
            </a>
            <a>
                <i></i>
                <img src="images/my/head.png">
                <span>
                    <span class="text">小凡</span>
                </span>
                <div class="cancel">取消关注</div>
            </a>
            <a>
                <i></i>
                <img src="images/my/head.png">
                <span>
                    <span class="text">小凡</span>
                </span>
                <div class="cancel">取消关注</div>
            </a>
            
        </div>
    </section>
</body>
</html>