<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no" searchtype="map">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/partyHeadlines.css">
    <title>党群头条</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>党群头条</h1>
    </header>
    <section>
        <ul class="nav">
            <li class="cur"><a>全 部</a></li>
            <li><a>精 选</a></li>
            <li><a>实 时</a></li>
            <li><a>活 动</a></li>
            <li><a>早 期</a></li>
        </ul>
        <div class="item">
            <ul>
                <li>
                    <a href="article.html">
                    <div class="images">
                        <div class="infoTwo">
                            <p class="titleLeft">这里是图文左右分布这里是图文左右分布这里是图文左右分布这里是图文左右分布</p>
                            <div class="from">
                                <span>2017年4月22日</span>
                                <span>1000</span>
                            </div>
                        </div>
                        <div class="infoTwo"><span class="img lazy" data-original="images/index/img_3.jpg"></span></div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <div class="images">
                        <div class="infoTwo">
                            <p class="titleLeft">这里是图文左右分布这里是图文左右分布这里是图文左右分布这里是图文左右分布</p>
                            <div class="from">
                                <span>2017年4月22日</span>
                                <span>10000</span>
                            </div>
                        </div>
                        <div class="infoTwo"><span class="img lazy" data-original="images/index/img_4.jpg"></span></div>
                    </div>
                    </a>
                </li>
            </ul>

        </div>
    </section>
</body>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/lazyload/jquery.lazyload.js"></script>
<script>
//图片懒加载
    $(".lazy").lazyload({
        placeholder : "",
        effect: "fadeIn",
        threshold : 200
    }).removeClass('lazy').addClass('lazyloaded');

    $(".nav li").click(function(){
        var e=$(this).index();
        $(".nav li").eq(e).addClass("cur").siblings().removeClass("cur");
    });
</script>
</html>