{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/pioneerIndex.css">
    <title>先锋指数</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>先锋指数</h1>
    </header>
    <div class="bg"></div>
    <section>
        <div class="index">
            <h1>9999</h1>
            <a href="goods.html">商城兑换</a>
        </div>
        <ul class="item">
            <h1>积分明细</h1>
            <li><p>连续8天签到</p><p>2019-04-17 15:00</p><i>+5</i></li>
            <li><p>连续7天签到</p><p>2019-04-17 15:00</p><i>+5</i></li>
            <li><p>连续6天签到</p><p>2019-04-17 15:00</p><i>+5</i></li>
            <li><p>连续5天签到</p><p>2019-04-17 15:00</p><i>+5</i></li>
            <li><p>连续4天签到</p><p>2019-04-17 15:00</p><i>+5</i></li>
            <li><p>连续3天签到</p><p>2019-04-17 15:00</p><i>+5</i></li>
            <li><p>发起活动</p><p>2019-04-16 17:46</p><i>+5</i></li>
            <li><p>连续2天签到</p><p>2019-04-15 16:35</p><i>+5</i></li>
            <li><p>连续1天签到</p><p>2019-04-14 11:21</p><i>+5</i></li>
        </ul>
    </section>
</body>
</html>