{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/partyHeadlines.css">
    <title>党群头条</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>党群头条{$type}</h1>
    </header>
    <section>
        <ul class="nav">
            <li class="cur"><a>全 部</a></li>
            <li><a>精 选</a></li>
            <li><a>实 时</a></li>
            <li><a>活 动</a></li>
            <li><a>早 期</a></li>
        </ul>
        <div class="item">
            <ul>
                <li>
                    <a href="article.html">
                    <div class="images">
                        <div class="infoTwo">
                            <p class="titleLeft">这里是图文左右分布这里是图文左右分布这里是图文左右分布这里是图文左右分布</p>
                            <div class="from">
                                <span>2017年4月22日</span>
                                <span>1000</span>
                            </div>
                        </div>
                        <div class="infoTwo"><span class="img lazy" data-original="__IMG__/index/img_3.jpg"></span></div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <div class="images">
                        <div class="infoTwo">
                            <p class="titleLeft">这里是图文左右分布这里是图文左右分布这里是图文左右分布这里是图文左右分布</p>
                            <div class="from">
                                <span>2017年4月22日</span>
                                <span>10000</span>
                            </div>
                        </div>
                        <div class="infoTwo"><span class="img lazy" data-original="__IMG__/index/img_4.jpg"></span></div>
                    </div>
                    </a>
                </li>
            </ul>

        </div>
    </section>
</body>
{include file="layouts/foot"/}
<script>
$(".nav li").click(function(){
        var e=$(this).index();
        $(".nav li").eq(e).addClass("cur").siblings().removeClass("cur");
    });
</script>
</html>