{include file="layouts/__header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/my.css">
<title>个人中心</title>
</head>
<body>
<header>
    <div style="width: 100%; padding: 0 15px;box-sizing: border-box;position: absolute;left: 0;top: 80px;">
        <div class="top">
            <div class="img">
                <img src="__PUBLIC__/{$user.img}">
                <p><b>{$user.user_name}</b></p>
            </div>
            <ul>
                <li><a href="{:Url('/index/users/follow')}"><b>{$user.col}</b><br/>关注</a></li>
                <li><a href="{:Url('/index/users/fans')}"><b>{$user.fans}</b><br/>粉丝</a></li>
                <li><a href="{:Url('/index/users/score')}"><b>{$user.score}</b><br/>先锋指数</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <ul class="userlink" style="padding-top: 65px;">
        <li><a href="{:Url('/index/users/collection')}">我的收藏</a></li>
        <li><a href="{:Url('/index/rankings/index')}">排行榜</a></li>
        <li><a href="{:Url('/index/users/info')}">党员信息查询</a></li>
    </ul>
    <ul class="userlink">
        <li><a href="get">采集提报</a></li>
        <li><a href="{:Url('/index/meeting/index')}">会议记录</a></li>
    </ul>
</section>
{include file="layouts/__footer" /}
</html>