{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/myConcern.css">
    <title>我的关注</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>我的关注</h1>
    </header>
    <section>
        <div class="item">
            {volist name="data" id="vo"}
            <a>
                <i></i>
                <img src="{$vo.img}">
                <span>
                    <span class="text">{$vo.user_name}</span>
                </span>
                <div class="cancel">取消关注</div>
            </a>
            {/volist}
        </div>
    </section>
</body>
</html>