{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/conferenceRecords.css">
    <title>会议记录</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>会议记录</h1>
    </header>
    <section>
        <ul class="item">
            <li>
                <h1><i></i><span class="ellipsis">会议记录</span><em>会议时间</em></h1>
                <p><span>会议类型</span><span class="see">查 看</span><span class="edit">编 辑</span></p>
            </li>
            <li>
                <h1><i></i><span class="ellipsis">浙江温州瓯海区实行“一带一路”，带动全面发展</span><em>2019年4月18日</em></h1>
                <p><span>会议类型</span><span class="see">查 看</span><span class="edit">编 辑</span></p>
            </li>
        </ul>
    </section>
</body>
</html>