{include file="layouts/__header" /}
    <link rel="stylesheet" type="text/css" href="__CSS__/conferenceType.css">
    <title>会议类型</title>
</head>
<body>
    <header>
        <a href="javascript:history.back(-1)"><i></i></a>
        <h1>会议类型</h1>
    </header>
    <section>
        <div class="list">
            <a href="{:Url('/index/meeting/index',['type'=>1])}"><img src="__IMG__/img_1.jpg"></a>
            <a href="{:Url('/index/meeting/index',['type'=>1])}"><img src="__IMG__/img_2.jpg"></a>
            <a href="{:Url('/index/meeting/index',['type'=>1])}"><img src="__IMG__/img_3.jpg"></a>
            <a href="{:Url('/index/meeting/index',['type'=>1])}"><img src="__IMG__/img_4.jpg"></a>
        </div>
    </section>
</body>
</html>